*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color:ghostwhite ;
    font-family: Helvetica, Arial;
    font-size: 18px;
}

p{
    margin-bottom: 25px;
}
.container { 
    width: 1140px;
    margin: 20px auto 0 auto;
}

.flex-container{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin:10px;
    align-items: center;
    /* justify-content: center;
   
    /* align-content: space-around; */
}

.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.blog-post{
    width: 75%;
    float: left;
    padding-right: 30px;
}

.author-box{
    border-top: 1px solid rgb(112, 112, 112);
    padding-top: 20px;
}
h1{
    color: black;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #6a4545;
}

h3 {
    color: #616161;

}

h4{ 
    font-size: 25px;
  margin-bottom: 10px;
  color: #6a4545;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
    border-top: 1px solid rgb(112, 112, 112);
    padding-top: 20px;
}

.author-text{
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}


.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height: 150px;
    width: auto;
}

.side-info {
    margin-bottom: 40px;
}

.sideInfo-post{
    width: 25%;
    /* float: left; */
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    padding: 0.2em;
    float: right;
    clear:right;
    font-size: 88%;
    line-height: 1.5em;
} 


.sideInfo-post img{
    height: 150px;
    width: 100%;
}

.row > .column{
    padding: 0 8px;
}

.row ::after {
    content: "";
    display: table;
    clear: both;
}
/* bootstrap */
.btn-secondary {
    color: #fff;
    background-color: #fbffc4;
    border-color: #6c757d;
}